body {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0px;
  left: 0;
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: black;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), transparent;
  background-size: 100% 0%, 100% 100%;
  background-position: 0 0, 0 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  transition: background-size 0.25s ease, color 0.5s ease;
}

.header--hidden {
  transform: translateY(-100%);
}

.header:hover {
  background-size: 100% 100%, 100% 100%;
  color: white;
}

.header:hover .header-button {
  color: white;
}

.header-top {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 100px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.header-top > button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-bottom {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 15px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 15px;
}

.title {
  height: 50px;
  width: 30px;
  object-fit: contain;
  margin-top: 15px;
  filter: brightness(0);
  transition: filter 0.5s ease;
    width: 100vw;
}

.header:hover .title {
  filter: brightness(1);
}


.header-button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  pointer-events: auto;
  z-index: 10;
  transition: color 0.25s ease;
}
